.About-Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.About-Me {
    border: 1px solid;
    border-radius: 25px;
  padding: 20px;
  box-shadow: 5px 10px #888888;
    background-color: #d5e3e3;
    margin-top: 20px;
    height: 300px;
    width: 790px;
    color: black;

    text-align: left;
    font-size: medium;
  }