.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #103070;
  min-height: 10vh;
  display: flex;
  
  justify-content: space-between;
  color: white;
}
.App-footer {
  background-color: #103070;
  min-height: 12.5vh;
  display: flex;
  
  justify-content: space-between;
  color: white;
}
.App-body {
  
  background-color: #f2f7f7;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.About-Me {
  
  background-color: #d5e3e3;
  margin-top: 70px;
  height: 300px;
  width: 770px;
  color: black;
  padding-right: 10px;
  
}
.My-Experience {
  background-color: #d5e3e3;
  margin-top: 70px;
  height: 300px;
  width: 770px;
  color: black;
  padding-left: 10px;
}

.Contact-me {
  background-color: #d5e3e3;
  margin-top: 70px;
  margin-bottom: 70px;
  height: 300px;
  width: 770px;
  color: black;
}
.button {
  
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}
.h1-header {
  color: #ffffff;
  font-family: "Brush Script MT", serif;
  
  font-weight: bold;
  margin-top: 20px;
  margin-left: auto;
  }
  .a-header {
  color: #ffffff;
  font-family: "Palatino", serif;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: calc(10px + 2vmin);
 
  float: right;
  }

  .photo {
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 25px;
  padding-right: 10px;

  }
  .photo1 {
    height: 250px;
    width: 250px;
    float: right;
    margin-right: 25px;
    margin-left: 10px;
    margin-top: 25px;
    padding-left: 10px;
  }
  .photo2 {
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 25px;
  }
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
